<h1>Welcome to Marilyn and Phat's Car Dealership!!!</h1>
<p>List of available cars:</p>
<ul>
  <li>2014 Porsche 911, 7864 miles, $114991</li>
  <li>2011 Ford F450, 14241 miles, $55995</li>
  <li>2013 Lexus RX 350, 20000 miles, $44700</li>
  <li>Mercedes Benz CLS550, 37979 miles, $39900</li>
</ul>
<p>Sell Your Car</p>
<h1>Sell Your Car</h1>
<form action="/add_your_car" method="post">
  <label for="new-car-model">Make and Model:</label>
  <input id="new-car-model" name="new-car-model" type="text">

  <label for="new-car-year">Year:</label>
  <input id="new-car-year" name="new-car-year" type="number">

  <label for="new-car-model">Mileage</label>
  <input id="new-car-mileage" name="new-car-mileage" type="number">
  <button type="submit">Submit</button>
</form>
